<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% include 'nav.html' %}
    <h1>Notification page</h1>
    {% for item in notifications %}
    <ul>
    {% if item.text.post_file.url|slice:"-4:"  == '.mp4' or item.text.post_file.url|slice:"-4:"  == '.mov' %}
        <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            poster=""
            data-setup="{}"
        >
            <source src="{{item.text.post_file.url}}" type="video/mp4" />
        </video>
        {% else %}
        <img src="{{ item.text.post_file.url }}" alt="" />
        {% endif %}
    <a href="/post_detail/{{item.text.id}}">{{item}}</a>
    {{item.text.created_at}}
    </ul>
    {% endfor %}
    {% for c in comment_notify %}
        <span>{{ c.text.comment }}</span>
        <span>{{ c.text.created_at }}</span> 
    {% endfor %}
</body>
</html>