<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post Detail</h1>
    <div>
    <img src="{{ post.post_pic.url }}" alt="">
    <p>{{post.caption}}</p>
    <p>{{post.created_at}}</p>
    <span>Likes: {{post.likes}}</span>
    <!-- <span>Unlike: {{post.dislikes}}</span> -->
      <div>
          {% if request.user in post.user_likes.all %}
            <button><a href="/unlike/{{post.id}}/">UnLike</a></button>
          {% else %}
            <button><a href="/like/{{post.id}}/">Like</a></button>
          {% endif %}
      </div>
      <br>
      <div>
        <button><a href="/delete/{{post.id}}/">Delete</a></button>
      </div>
    </div>
</body>
</html>